GHCR_USERNAME=SEU_USUARIO_GITHUB
GHCR_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxx
AI_STUDIO_IMAGE=ghcr.io/SEU_USER/ai-studio:latest
AI_STUDIO_CONTAINER_NAME=ai-studio
HOST_PORT_HTTP=80
HOST_PORT_IMAGE=8000
HOST_PORT_VIDEO=8001
FLUX_PRECISION=fp8
LTX_PRECISION=fp8
LOW_VRAM=false
